MakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CMakeCache.txt
CMakeLists.txt.user
rosa-launcher-qtquick
src/build
CMakeTmp/
CTestTestfile.cmake
cmake_uninstall.cmake
rosa-launcher-qtquick_automoc.cpp.files
moc_*
appentity.moc
rosa-launcher-qtquick.shell
rosa-launcher-qtquick_automoc.cpp
swapp.moc
*.orig
build/
